---
import Footer from "@components/general/Footer.astro";
import Navbar from "@components/general/Navbar.astro";
import "../styles/style.css";
---

<!-- Critical inline script: set color scheme before rendering -->
<script is:inline>
  document.documentElement.style.colorScheme = 'light dark';
</script>

<Navbar />
<main class="container">
  <slot />
</main>
<Footer />
